@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

$font: "Open Sans", serif;

$background: #EBEBEB;

$white: #FFFFFF;
$black: #000000;
$gray: #707070;
$light-gray: #9E9E9E;
$dark-gray: #333333;
$red: #FF0000;

$header-gray: #424343;
$header-red: #E75741;

$card: #E8E8E8; 